In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/reviews.csv
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/.DS_Store
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/listings.csv
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/calendar.csv
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/gz/listings.csv.gz
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/gz/calendar.csv.gz
/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post/boston_airbnb_data_2020/gz/reviews.csv.gz

In [4]:
os.getcwd()

'/Users/tcsbasaraner/Desktop/Udacity_Git_repo/udacity-data-scientist-nanodegree/1. Data Science Blog Post'

In [11]:
pd.set_option('display.max_columns', None)
calendar = pd.read_csv('boston_airbnb_data_2020/calendar.csv')
calendar[calendar.price.notnull()]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3781,2020-06-10,f,$125.00,$125.00,28,1125
1,3781,2020-06-11,f,$125.00,$125.00,28,1125
2,3781,2020-06-12,f,$125.00,$125.00,28,1125
3,3781,2020-06-13,f,$125.00,$125.00,28,1125
4,3781,2020-06-14,f,$125.00,$125.00,28,1125
...,...,...,...,...,...,...,...
1255595,43535618,2021-06-05,f,$100.00,$100.00,180,1125
1255596,43535618,2021-06-06,f,$100.00,$100.00,180,1125
1255597,43535618,2021-06-07,f,$100.00,$100.00,180,1125
1255598,43535618,2021-06-08,f,$100.00,$100.00,180,1125
1255599,43535618,2021-06-09,f,$100.00,$100.00,180,1125